<?xml version="1.0" encoding="UTF-8"?>


<!--+
| Application context containing Multiple AuthenticationProvider implementation.
+-->

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:pen="http://www.pentaho.com/schema/pentaho-system"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
                           http://www.pentaho.com/schema/pentaho-system http://www.pentaho.com/schema/pentaho-system.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd" 
       default-lazy-init="true">

  <bean id="authenticationProvider" class="org.pentaho.platform.engine.security.multiple.auth.MultipleAuthenticationProvider">
    <property name="userDetailsService">
      <ref bean="multipleAuthUserDetailsService" />
    </property>
    <property name="holder">
      <ref bean="holder" />
    </property>
    <pen:publish as-type="org.springframework.security.providers.AuthenticationProvider">
      <pen:attributes>
        <pen:attr key="providerName" value="multiple"/>
        <pen:attr key="priority" value="999"/>
      </pen:attributes>
    </pen:publish>
  </bean>

  <bean id="multipleAuthUserDetailsService" class="org.pentaho.platform.engine.security.multiple.auth.MultipleAuthUserDetailsService">
    <property name="holder">
      <ref bean="holder" />
    </property>
    <pen:publish as-type="INTERFACES">
      <pen:attributes>
        <pen:attr key="providerName" value="multiple"/>
      </pen:attributes>
    </pen:publish>
  </bean>

  <!-- when a user logs in successfully, this listener will trigger -->
  <bean id="successfulAuthenticationListener" class="org.pentaho.platform.engine.security.multiple.auth.listener.SuccessfulAuthenticationListener" />

  <bean id="holder" class="org.pentaho.platform.engine.security.multiple.auth.holder.ProviderHolder">    
    <property name="providers">
      <ref local="providers" />
    </property>
  </bean>

  <!-- /////////////// -->
  <!-- PROVIDERS LIST  -->
  <!-- (order matters) -->
  <!-- /////////////// -->

  <bean id="providers" class="java.util.ArrayList">
     <constructor-arg>
      <util:list list-class="java.util.ArrayList" value-type="org.pentaho.platform.engine.security.multiple.auth.holder.Provider">
        <!--<ref bean="jdbc" />-->
        <!--<ref bean="ldap" />-->
        <ref bean="memory" />
        <ref bean="jackrabbit" />
      </util:list>
     </constructor-arg>
     <pen:publish as-type="CLASSES">
        <pen:attributes>
          <pen:attr key="priority" value="9999"/>
      </pen:attributes>
     </pen:publish>
  </bean>


  <!-- /////////////// -->
  <!-- PROVIDERS INFO -->
  <!-- /////////////// -->

  <!-- jdbcUserDetailsService, jdbcUserRoleListService, jdbcPasswordEncoder are defined in application-context-*-security-jdbc.xml -->
  <bean id="jdbc" class="org.pentaho.platform.engine.security.multiple.auth.holder.Provider">
    <property name="id" value="jdbc" />
    <property name="userDetailsService"> 
      <ref bean="jdbcUserDetailsService" /> 
    </property>
    <property name="userRoleListService">
      <ref bean="jdbcUserRoleListService" />
    </property>
    <property name="passwordEncoder">
      <ref bean="jdbcPasswordEncoder" />
    </property>
  </bean>

  <!-- memoryUserDetailsService, inMemoryUserRoleListService, memoryPasswordEncoder are defined in application-context-*-security-memory.xml -->
  <bean id="memory" class="org.pentaho.platform.engine.security.multiple.auth.holder.Provider">
    <property name="id" value="memory" />
    <property name="userDetailsService">
      <ref bean="memoryUserDetailsService" />
    </property>
    <property name="userRoleListService">
      <ref bean="inMemoryUserRoleListService" />
    </property>
    <property name="passwordEncoder">
      <ref bean="memoryPasswordEncoder" />
    </property>
  </bean>

  <!-- userDetailsService, userRoleListService, jackrabbitPasswordEncoder are defined in application-context-*-security-jackrabbit.xml -->
  <bean id="jackrabbit" class="org.pentaho.platform.engine.security.multiple.auth.holder.Provider">
    <property name="id" value="jackrabbit" />
    <property name="userDetailsService">
      <ref bean="userDetailsService" />
    </property>
    <property name="userRoleListService">
      <ref bean="userRoleListService" />
    </property>
    <property name="passwordEncoder">
      <ref bean="jackrabbitPasswordEncoder" />
    </property>
  </bean>

  <!-- ldapUserDetailsService, ldapUserRoleListService are defined in application-context-*-security-ldap.xml -->
  <bean id="ldap" class="org.pentaho.platform.engine.security.multiple.auth.holder.Provider">
    <property name="id" value="ldap" />
    <property name="userDetailsService">
      <ref bean="ldapUserDetailsService" />
    </property>
    <property name="userRoleListService">
      <ref bean="ldapUserRoleListService" />
    </property>
  </bean>

</beans>